

.columna{
    
    width: 100%;
    height: auto;  
    margin: 10px auto 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.columna h2{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    
}
.columna footer{
    
    margin-bottom: 30px;
    text-align: justify;
    padding: 0px auto 5px;   
    margin: 5px auto 25px;
    width: 95%;
    

    
}

.columna .video{
    width: 48%;
    display: flex;
    flex-direction: column;    
    border-bottom: 5px solid rgba(0,0,0,.5);
    align-items: center;
    padding-bottom: 10px;
}

#siguiente{
    display: flex; 
    position: absolute;
    
    justify-content: space-between;
    align-items: center;
  background-color:  rgb(19, 29, 172);
  width: 8%;
  padding: 5px 5px;
  
  margin: 20px auto 25px;
  
  border-radius: 10px ;
  
  right: 6%;
  
}
#siguiente a{
    
    color: rgb(0, 255, 42); 
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#atras{
    display: flex; 
    position: absolute;    
    justify-content: space-between;
    align-items: center;
  background-color:  rgb(19, 29, 172);
  width: 5%;
  padding: 5px 5px;
  
  margin: 20px auto 25px;
  
  border-radius: 10px ;
  
 left: 6%;
  
}
#atras a{     
    color: rgb(0, 255, 42); 
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.columna .video img{
width: 550px;
}