

  
#ContenidoGeneral{
  display: flex;
  justify-content: space-between;
 
}


.Seccion{
  margin: 10px;
  box-shadow: 4px -4px 18px -2px rgba(173,57,173,0.83);
  padding: 5px;
  display: flex;
  
}



.contenidoEspecifico {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.Seccion img{
  width: 40%;
  height: 40%;
  margin-top: 15px;
}

.Seccion ol{
  text-align: justify;
}

/* configuramos las paginas de definicion de las lecturas */

 .SeccionDefinicion{
  margin: 10px;
  box-shadow: 4px -4px 18px -2px rgba(173,57,173,0.83);
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.SeccionDefinicion div{
  font-size: 1rem;
  text-align: justify;
  line-height: 27px;  
  padding: 5px 40px;
    
}

.SeccionDefinicion h2,h3{
  text-align: left;
  padding: 5px 20px;
  color: slateblue; 

}

.SeccionDefinicion  dl{
  text-align: left;
  padding: 5px 20px;
}

.SeccionDefinicion  dl dt{
  font-weight: bold;
  margin: 2rem 0px 0px;
}

.SeccionDefinicion p img{
  display: flex;
  background-position: left;
}
.SeccionDefinicion h1{
 text-align: center;
}


#atras{
  display: flex; 
  position: absolute;    
  justify-content: space-between;
  align-items: center;
background-color:  rgb(19, 29, 172);
width: 5%;
padding: 5px 5px;

margin: 20px auto 25px;

border-radius: 10px ;

left: 6%;

}
#atras a{     
  color: rgb(0, 255, 42); 
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}