/*Estilos generales Documento*/
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background-color: rgb(0, 88, 131);
  font-family: sans-serif;

}
#Contenido{
  width: 90%;
  height: auto;  
  margin: 10px auto 0px;
  background-color: white;
  border-radius: 5px;
  border-radius: 5px;
  
}

/* Configuracion del logo y el parrafo del encabesado */

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.logo >img{
  width: 50rem;
}

.parrafoLogo{
  padding-right: 5%;
  color: rgba(0,0,0,1);
  font-size: 2.7rem;
  text-align: center;
  font-weight: bold;
}

#titulo > h1{
      
  text-align: center;
  color: slateblue;
   margin-top: 1px auto;    
   margin-bottom: 2rem;
   font-size: 2.5rem;
    
  }



  #ContenidoGeneral p{
    font-size: 18px;
    text-align: justify;
    line-height: 27px;
    /* text-indent: 50px; */
    padding: 5px 20px;
    padding-top: 15px;
  } 

  #ContenidoGeneral h2{
    font-size: 1.7rem;
  }

/* configuracion del menu principal */

.navegacion ul{
  list-style: none;
  display: flex;
  background: #333333;
  margin-bottom: 1.5px;
  
}
.menu{
  display: flex;
  
  
 
}

.menu a{
  text-decoration: none;
  color: rgb(0, 255, 42); 
  font-size: 1.5rem;
}

.menu a:hover{
         
    color: azure;
}



.menu > li{  
  flex: auto;  
  position: relative;
  padding: 12px 25px;
  border-right: 2px solid rgba(0,0,0,.2);
  transition: all .5s;    
  text-align: center;
  cursor: pointer;
 
  
  }
  .menu li:last-child{
    border-right: none;
    }

    .menu li:hover{
      background-color: greenyellow;
    }    

    .menu >li>a img{
      float: right;
      position: relative;
      margin-right: 0;    
      
    }

    .menu li:hover > .subMenu{
      /* background-color: greenyellow; */
      transform: translateX(0%);
      opacity: 1;
      transition: all .6s; 
      display: block;
      visibility: visible;
    }

/* configuracion del submenu */



.lista > .subMenu{
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: left;  
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;    
  font-size: 14px;  
  background-color:  #222;     
  background-clip: padding-box; 
  width: 150%; 
  transform: translateY(60%);
  opacity: 0;
  transition: all .6s; 
  visibility: hidden;
 
}

.lista > .subMenu li{
  flex: auto;
  position: relative;
  padding: 8px 25px;
  border-top: 4px solid rgba(0,0,0,.1);
  cursor: pointer;
}

 
.lista > .subMenu li a img{
  float: right;
  position: relative;
  margin-right: 0;    
  
}


/* configuran el sub sub menu */

.lista > .subMenu .subMenu{
  position: absolute;
  min-width: 60px;
  padding: 0;
  top: -15%;  
  /* display: none; */
  margin: 2px 0 0 40px;  
  font-size: 14px; 
  background-color:  #222;   
  border-radius: 0 0 0 4px;
  background-clip: padding-box;
  width: 100%;
  transform: translateX(60%);
  opacity: 0;
  transition: all .6s; 
  left:  90%;
 
}


/* configuracion de las secciones y barra lateral */

.secciones{
  width: 67%;  
  margin: 10px 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px -4px 18px -2px rgba(173,57,173,0.83);
  justify-content: space-between;
}

#barraLateral{
  margin: 10px 15px 10px;
  width: 33%;  
  text-align: center;
  font-weight: bold;
  box-shadow: 4px -4px 18px -2px rgba(173,57,173,0.83);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parte{
  margin-top: 20px;
  border-bottom: 2px solid rgba(173,57,173,0.83);
}

.seccion{
  margin: 5px 10px 5px;    
  padding: 5px;
  display: flex;
  flex-direction: column;

}
.seccion p{
  font-size: 18px;
  text-align: justify;
  line-height: 27px;
  margin-top: 20px;
  /* text-indent: 50px; */
  
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(5, 5, 104);
}
.seccion ol{
  padding: 5px 5px 10px;  
  color: rgb(5, 5, 104);
  margin: 5px 30px 5px;
  line-height: 27px;
}
.seccion h1{
  text-align: center;
}

.Seccion a{
  display: inline-block;
  text-decoration: none;
  text-align: left;
  
}






/* estilos del footer */

.info-contenedor {
	width: 100%;
	background: #f2f2f2;
  font-family: Raleway;
  margin-top: 30px;
}

.info-principal {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-principal h3 {
	color: #00C6EE;
	font-size: 40px;
	text-align: center;
}

.info-principal p {
  padding: 20px 30%;
  text-align: justify;
}


.info-principal a {
  display: inline-block; 
  background-color:  #222;
  width: 20%;
  padding: 15px 15px;
  text-align: center;
  margin: 0px auto 25px;
  text-decoration: none;
  border-radius: 6px;
  color: rgb(0, 255, 42); 
  font-weight: bold;
  font-size: 16px;
  
}

.info-principal a:hover{
  background-color: green;
  color: blueviolet;  
  transition: all .6s;
}



footer {
	width: 100%;
  font-family: Raleway;
  padding: 0%;
  
}

.footer-contenedor {
	width: 100%;
	background: #272727;
  color: #fff;
  
  
}

.footer-principal {
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;

}

.footer-principal .footer-columna {
	width: calc(100% / 3);
  text-align: justify;
  margin: 15px 30px;
  padding: 50px 2px;
  display: flex;
  flex-direction: column;
  
}


.footer-principal .footer-columna:nth-child(2) {
	padding: 15 30px;
}

.footer-principal .footer-columna h3 {
	font-size: 32px;
	color: #00C6EE;
	margin-bottom: 20px;
}

.footer-principal .footer-columna input[type="email"] {
	border: none;
	width: 75%;
	border: 1px solid #00C6EE;
	font-size: 14px;
	padding: 10px;
	font-family: Raleway;
}

.footer-principal .footer-columna input[type="submit"] {
	border: none;
	background: #00C6EE;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
  font-family: Raleway;
  width: 50%;
  border-radius: 7%;
}

.footer-principal .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Raleway;
}

.footer-copy-redes {
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}

.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}

.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.main-copy-redes .footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius:50%;
	background: #fff;
	color: #000;
	text-align: center;
}
