



/*-----------------------------------------*/

section > h1{
  font-size: 2.3rem;
}
 
section >h2{
  font-size: 2rem;
  text-align: center;
}
  
#ContenidoGeneral{
  display: flex;
  justify-content: space-between;
 
}
#barraLateral{
  width: 25%;
  
  margin: 0px 7px;  
  background-color: greenyellow;
}

#Secciones{
  width: 75%;
  
  margin: 0px 7px;   
 
}

.Seccion{
  margin: 10px;
  box-shadow: 4px -4px 18px -2px rgba(173,57,173,0.83);
  padding: 5px;
  display: flex;
}
.Seccion a{
  display: inline-block;
  text-decoration: none;
  text-align: left;
  
}

.Seccion p{
  padding: 5px 10px;
}
.Seccion p::first-letter{
  font-size: 2rem;
}
